body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.circularBtnContainer {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 20px;

  background: #EC3D64;
  /*background: linear-gradient(to right, #9E7CC1, #8ECDEA);*/
  /*background-image: linear-gradient(141deg, #9E7CC1 0%, #8ECDEA 40%, #8ECDEA 75%);*/
  /*box-shadow: 1px 1px 5px grey;*/
  
  color: white;
  font-size: 107%;
  font-weight: 500;
  cursor: pointer;
}

/*--------landing page--------*/
  .horiVertCenter {
    padding: 0;
    margin: 0;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    align-items: center;
    justify-content: center;
    
    height: 100%;

    margin-top: 150px;
  }

  .choiceBox{
    text-align: center;
  }

  .logoImg {
    width: 150px;
  }

  .projectTitleText {
    font-size: 250%;
    font-weight: 700;
  }
/*--------landing page--------*/